ol li{
    color: green;
    list-style-position: inside;
    list-style-type: lower-latin;
    
}


ul li{
    list-style-type: square;
    color: red;
    list-style-type: none;/* utlizado para retirar os desenhos ou escrita da lateral*/
}

h1{
    text-align: center;
    width: 50%;
    margin: auto;
}