body {
    margin-bottom: 500px;
}

.flexbox {
    height: 250px;
    border: 3px solid red;
    display: flex;
    margin-bottom: 16px;

}

.flexbox div {
    border: 2px solid orange;
    width: 300px;
    margin: 15px;

}

.flex-container1 {
    /* flex-wrap: nowrap;/* QUEBRA LINHA
    flex-direction: column;/* EM LINHA OU COLUNA OU ROW REVERSE E COLUN REVER REVERTE A ORDEM DOS ITENS
    */
    flex-flow: row wrap;
    /* PODEMOS SUBSTITUIR O FLEX ROW E FLEX DIRECTION POR FLEX - FLOW*/
}

.flex-container2 {
    justify-content: center;
    margin: 0;
}

.flex-container2 div {
    width: 30px;
}

.flex-container3 {
    justify-content: space-around;
    align-items: center;

}

.flex-container3 div {
    width: 30px;
    margin: 0;
}

.flex-container4 {
    justify-content: space-around;
    align-items: flex-start;
}

.flex-container4 div {
    width: 30px;
    margin: 0;
}

.flex-container5 {
    justify-content: center;
    align-items: flex-end;
    align-content: flex-start;
    /*flex-wrap: wrap; utilizamos o warp para quebrar linha e ativar o align content*/
}

.flex-container5 div {
    width: 100px;
}

.flex-container6 {
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    height: 600px;

}

.flex-container6 div {
    background-color: yellow;
    width: 30px;
    height: 30px;

}

.flex-container7 {
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    height: 600px;

}

.flex-container7 div {
    background-color: yellow;
    width: 50px;
    height: 50px;

}

.flex-container7 .div2 {
    flex-basis: 100px;

}

.flex-container8 {
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.flex-container8 div {
    flex-basis: 50px;
    background-color: orange;
    margin: 0;

}

.flex-container8 .div2 {
    flex-grow: 1;
}

.flex-container8 .div4 {
    flex-grow: 1;
}